*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
padding-left: 20px;
padding-right: 20px;
background-color: #000000;
color: aquamarine;
width: 100%;
font-size: 20px;
}
section{
padding: 100px;
}
h1{
color:aqua;
font-size: 40px;
margin-bottom: 20px;
}
::-webkit-scrollbar{
    width: 10px;
    background-color:rgb(36, 39, 38);  
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent,#30ff00);  
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(transparent,#00cff0);  
}   